<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
 <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
        
        <RollingFile name="RollingLog"	fileName="./logs/spring-boot-logger.log"	filePattern="./logs/$${date:yyyy-MM}/spring-boot-logger-%d{-dd-MMMM-yyyy}-%i.log">
            <PatternLayout><pattern>%d %p %C{1.} [%t] %m%n</pattern></PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy	size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
 
        <RollingFile name="RollingLedger" fileName="./ledger/spring-boot-ledger.log" filePattern="./ledger/$${date:yyyy-MM}/spring-boot-ledger-%d{-dd-MMMM-yyyy}-%i.log">
            <PatternLayout> <pattern>%d %p %C{1.} [%t] %m%n</pattern> </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy	size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
 
        
    </Appenders>
 
    <Loggers>
       
        <Logger name="com.eml">
        	<AppenderRef ref="RollingLog" level="trace"/>
        	<AppenderRef ref="Console" />
        </Logger>
        
          <Logger name="org.theenergymashuplab.cts.controller.payloads.EiCreateTransactionType">
        	<AppenderRef ref="RollingLedger" level="trace"/>
        </Logger>
        
		<Logger name="org.hibernate.SQL">
			<!-- <AppenderRef ref="RollingLedger" level="trace"/> -->
			<AppenderRef ref="Console" />
		</Logger>
				
		 <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingLog" />

        </Root>
		
    </Loggers>
   
</Configuration>