<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
 <Appenders>
 <!--  Display pattern on console-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%style{%d{ISO8601}}{black}\t%highlight{%-5level }[%style{%t}{bright,blue}]\t%style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
        <!-- For Logs -->
        <RollingFile name="RollingLog"	fileName="./logs/spring-boot-logger.tsv"	filePattern="./logs/$${date:yyyy-MM}/spring-boot-logger-%d{-dd-MMMM-yyyy}-%i.tsv">
            <PatternLayout><pattern>%d&#9;%p&#9;%C{1.}&#9;[%t]&#9;%m%n</pattern></PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy	size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
 <!-- For Ledgers -->
        <RollingFile name="RollingLedger" fileName="./ledger/spring-boot-ledger.tsv" filePattern="./ledger/$${date:yyyy-MM}/spring-boot-ledger-%d{-dd-MMMM-yyyy}-%i.tsv">
            <PatternLayout> <pattern>%d&#9;%p&#9;%C{1.}&#9;[%t]&#9;%m%n</pattern> </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy	size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
 
        
    </Appenders>
 
    <Loggers>
       <!-- All logs of com.eml will go to these appenders -->
        <Logger name="org.theenergymashuplab">
        	<AppenderRef ref="RollingLog" level="trace"/>
        	<AppenderRef ref="Console" />
        </Logger>
        <!-- All logs of org.theenergymashuplab.cts.controller.payloads.EiCreateTransactionType will go to these appenders -->
          <Logger name="org.theenergymashuplab.cts.controller.payloads.EiCreateTransactionType">
        	<AppenderRef ref="RollingLedger" level="trace"/>
        </Logger>
        <!-- All logs of org.hibernate.SQL will go to these appenders -->
		<Logger name="org.hibernate.SQL">
			<AppenderRef ref="RollingLedger" level="trace" />
			<AppenderRef ref="Console" />
		</Logger>
				
		 <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingLog" />

        </Root>
		
    </Loggers>
   
</Configuration>